asttokens==2.4.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
comm==0.2.0
cors==1.0.1
debugpy==1.8.0
decorator==5.1.1
exceptiongroup==1.2.0
executing==2.0.1
filelock==3.13.1
future==0.18.3
gevent==23.9.1
greenlet==3.0.3
idna==3.6
ipykernel==6.27.1
ipython==8.19.0
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.5.1
matplotlib-inline==0.1.6
mongoose==0.0.1
nest-asyncio==1.5.8
packaging==23.2
parso==0.8.3
platformdirs==4.1.0
prompt-toolkit==3.0.43
psutil==5.9.7
pure-eval==0.2.2
pycparser==2.21
Pygments==2.17.2
PySocks==1.7.1
python-dateutil==2.8.2
pywin32==306; sys_platform == 'win32'
pyzmq==25.1.2
requests==2.31.0
requests-file==1.5.1
six==1.16.0
stack-data==0.6.3
tldextract==5.1.1
tornado==6.4
traitlets==5.14.0
urllib3==2.1.0
wcwidth==0.2.12
zope.event==5.0
zope.interface==6.1
